.header, .tracker{
    display: flex;
    align-items: center;
}

.header{
    justify-content: space-between;
    background-color: #2d333b;
    padding: .5rem;
}

.title{
    font-weight: 500;
    margin-left: 1rem;
    cursor: pointer;
}

.logo {
    margin-right: 1rem;
}

.search{
    
}
.searchBar{
    display: table-cell;
    width: 100%;
    padding: 5px 12px;
    font-size: inherit;
    color: inherit;
    background: none;
    border: 0;
    border-radius: 6px;
    width: 100%;
    box-shadow: none;
    background-color: #22272e;
}