.header, .tracker{
    display: flex;
    align-items: center;
}

.header{
    justify-content: space-between;
    background-color: #2d333b;
    padding: .5rem;
}

.title{
    font-weight: 500;
    margin-left: 1rem;
    cursor: pointer;
}

.logo {
    margin-right: 1rem;
}